@define-color text-color gray;

* {
    font-family: "JetbrainsMono Nerd Font", monospace;
    font-size: 12px;
}

window#waybar {
    background: transparent;
    color: @text-color;
}

window#waybar.hidden {
    opacity: 0.2;
}

#workspaces {
    margin-left: 10px;
}

#workspaces button {
    transition: none;
    color: @text-color;
    background: transparent;
}

#workspaces button.active {
    color: lightgreen;
}

#pulseaudio {
    margin: 0 8px;
    color: @text-color;
}

#cpu {
    margin: 0 8px;
    color: @text-color;
}

#memory {
    margin: 0 8px;
    color: @text-color;
}

#tray {
    margin: 0 8px;
    color: @text-color;
}

#clock {
    margin: 0 8px;
    color: @text-color;
}
